@define-color main-color rgba(100, 120, 140, 1);
@define-color main-color-07 rgba(100, 120, 140, 0.7);
@define-color main-color-05 rgba(100, 120, 140, 0.5);
@define-color main-color-03 rgba(100, 120, 140, 0.3);
@define-color bg-color rgba(43, 48, 59, 0.9);
@define-color alert-color rgba(235, 77, 75, 0.75);
@define-color warning-color rgba(255, 165, 0, 0.75);
@define-color font-color rgba(242, 243, 244, 0.75);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  all: initial;
  font-family: "GeistMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}


window#waybar {
  background-color: @bg-color;
  /* background-color: rgba(100, 120, 140, 0.5); */
  /* opacity: 1; */
  /* border-bottom: 1px solid rgba(100, 114, 125, 0.5); */
  color: @font-color;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 2px solid @main-color;
  border-radius: 4px;
  margin-left: 100px;
  transition: all 0.5s ease;
  padding: 40px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.chromium {
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  border: 2px solid @main-color;
  /* Avoid rounded borders under each button name */
  border-radius: 2px;
  padding: 2px 8px;
  margin: 8px 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  border: 2px solid @main-color;
  background: @main-color;
}

#workspaces {
  /*  */
}

#workspaces button {
  /* padding: 4px 8px; */
  background-color: transparent;
}

#workspaces button label {
  color: @font-color;
}

#workspaces button:hover label {
  color: rgba(242, 243, 244, 1);
}

#workspaces button:hover {
  color: rgba(242, 243, 244, 1);
  background: @main-color-03;
}

#workspaces button.active {
  background: @main-color;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.active label {
  color: rgba(242, 243, 244, 1);
}

#workspaces button.urgent {
  background-color: @main-color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mpris.paused {
  /* color: rgba(242, 243, 244, 0.5); */
  /* background: @main-color-05;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  /* background-color: #26a65b; */
}

#mpris:hover,
#clock:hover,
#pulseaudio:hover,
#battery:hover,
#power-profiles-daemon:hover,
#backlight:hover {
  color: rgba(242, 243, 244, 1);
  border: 2px solid @main-color-07;
  background: @main-color-03;
}

#custom-menu {
  padding: 0 8px 0 4px;
  color: @font-color;
}

#custom-menu:hover {
  color: rgba(242, 243, 244, 1);
}

#mpris,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#expand,
#mpd {
  color: @font-color;
  border: 2px solid @main-color-07;
  /* Avoid rounded borders under each button name */
  border-radius: 2px;
  padding: 2px 8px;
  margin: 8px 2px;
}

#window,
#workspaces {
  margin: 0 4px;
  color: @font-color;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #clock {
  margin-left: 8px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #expand {
  margin-right: 8px;
}

#battery.plugged {
  /* background-color: #26a65b; */
}

#battery.plugged:hover {
  color: rgba(242, 243, 244, 1);
  background: @main-color-03;
}

#battery.charging {
  background: @main-color-05;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @bg-color;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @alert-color;
  color: @font-color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power {
  color: @alert-color;
  margin-left: 8px;
}

#custom-power:hover {
  color: rgba(235, 77, 75, 1);
}

#tray {
  padding: 0 8px;
  margin: 0 4px;
}

#custom-media {
  /* background-color: #66cc99; */
  color: #2a5c45;
  min-width: 100px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @warning-color;
}

#mpd {
  color: #2a5c45;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: @font-color;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

tooltip {
  background: @bg-color;
  color: rgba(242, 243, 244, 1);
  border-radius: 4px;
  border: 2px solid @main-color;
  font-size: 16px;
}

tooltip label {
  color: rgba(242, 243, 244, 1);
  opacity: 1;
  padding: 2px 8px;
}

menu {
  background: @bg-color;
  color: @font-color;
  border-radius: 4px;
  padding: 4px;
  border: 2px solid @main-color;
  font-size: 22px;
}

menu menuitem {
  color: @font-color;
  opacity: 0.8;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 16px;
}

menu menuitem:hover {
  opacity: 1;
}
